{% extends 'base.html' %} {% block head %}
<style>
  .entity-btn {
    float: right;
  }
</style>
{% endblock head %} {% block content %}

<section class="hero">
  <div class="hero-body">
    <p class="title is-4">Roadmap ID: {{ roadmap.id }}</p>
    <p class="title" id="{% if user.is_institution %}inst{% else %}status{% endif %}">{{ roadmap }}</p>
    <p class="subtitle">{{ roadmap.description }}</p>

    {% if user == roadmap.user %}
    <div>
      <a
        class="button is-warning is-light"
        href="{% url 'roadmap-edit' roadmap.id %}"
        >Edit Roadmap Details</a
      >
      <a
        class="button is-danger is-light"
        href="{% url 'roadmap-delete' roadmap.id %}"
        >Delete Roadmap</a
      >
      <a
        class="button is-info is-light"
        href="{% url 'followers' roadmap.id %}"
        >View Followers</a
      >
    </div>
    {% else %}
    <a
        class="button is-danger is-light"
        href="{% url 'unfollow' roadmap.id %}"
        >Unfollow</a
      >
    {% endif %}
  </div>
</section>
{% if user == roadmap.user %}
<div class="block">
  <a
    class="ml-6 button is-primary is-light"
    href="{% url 'entity-create' roadmap.id %}"
    >Add Source</a
  >
</div>
{% endif %} {% if roadmap.entity_set.all|length > 0 %} {% for entity in roadmap.entity_set.all %}
<div class='mx-6 box {{ entity.is_completed|yesno:"complete,incomplete" }}'>
  <a
    class="button is-link is-light"
    target="_blank"
    href="{{ entity.entity_url }}"
    >{{ entity.title }}</a
  >
  {% if user == roadmap.user %}
  <a
    class="button is-danger is-light entity-btn"
    href="{% url 'entity-delete' entity.id %}"
    >Delete</a
  >
  <a
    class="button is-warning is-light entity-btn"
    href="{% url 'entity-edit' entity.id %}"
    >Edit</a
  >
  <a
    class="button is-light entity-btn"
    href="{% url 'entity-toggle' entity.id %}"
  >
    {% if entity.is_completed == True %} Mark Incomplete {% else %} Mark
    Complete {% endif %}
  </a>
  {% endif %}
</div>
{% endfor %} {% else %}
<div class="mx-6 notification is-info">Nothing to see here</div>
{% endif %} {% endblock content %} {% block js %} {% if user == roadmap.user %}
<script>
  var n_complete = document.getElementsByClassName("complete").length;
  var n_incomplete = document.getElementsByClassName("incomplete").length;
  var element = document.getElementById("status");
  element.innerHTML += ", " + n_complete + " of " + (n_complete + n_incomplete) + " completed";
</script>
{% endif %} {% endblock js %}
