{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"></link>
    <title>Progressly</title>
  </head>
  <body>
    <nav class="navbar has-shadow is-white">
      <div class="navbar-brand">
        <a class="navbar-item title is-4 mb-0">progressly</a>
        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div class="navbar-menu" id="nav-links">
        <div class="navbar-end">
          <a class="navbar-item">Dashboard</a>

          {% if user.is_authenticated %}
          <a href="/accounts/logout/" class="navbar-item button m-3">Logout {{ user.email }}</a>
          {% else %}
          <a class="navbar-item button m-3" href="{% provider_login_url 'google' %}">Login</a>
          {% endif %}

        </div>
      </div>
    </nav>
    
    {% block content %}
    {% endblock content %}

    <footer class="footer">
        <div class="content has-text-centered is-size-5">
          <strong>progressly</strong>: Learning Management System
        </div>
      </footer>
    </body>
  </html>
  