{% extends 'base.html' %} {% block content %}

<section class="hero">
  <div class="hero-body">
    <p class="title">Roadmaps</p>
  </div>
</section>

<div class="block">
  <a class="button" href="{% url 'roadmap-create' %}">Create Roadmap</a>
</div>

<div class="my-4">
  <form method="GET" action="{% url 'explore' %}">
    <div class="field has-addons">
      <div class="control">
        <input
          class="input"
          type="text"
          name="q"
          placeholder="Find a Roadmap"
        />
      </div>
      <div class="control">
        <button class="button is-info" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

{% if roadmaps %}
<div class="block">
  <ul>
    {% for roadmap in roadmaps %}
    <li>
      <div class="box">
        <a href="{% url 'roadmap' roadmap.id %}">
          <strong>{{ roadmap.title }}</strong> -- {{ roadmap.description }}</a
        >
      </div>
    </li>

    {% endfor %}
  </ul>
</div>
{% else %}
<p>No roadmaps available</p>
{% endif %} {% endblock content %}
