{% extends 'base.html' %} {% block content %}

<section class="hero">
  <div class="hero-body">
    <p class="title">Roadmaps</p>
  </div>
</section>

<div class="block">
  <a class="ml-6 button" href="{% url 'roadmap-create' %}">Create Roadmap</a>
</div>

{% if roadmaps %}
<div class="block">
  <ul>
    {% for roadmap in roadmaps %}
    <li>
      <div class="box">
        <a href="{% url 'roadmap' roadmap.id %}">
          {{ roadmap.title }} -- {{ roadmap.description }}</a
        >
      </div>
    </li>

    {% endfor %}
  </ul>
</div>
{% else %}
<p>No roadmaps available</p>
{% endif %} {% endblock content %}
