{% extends 'base.html' %} {% block content %}

<section class="hero">
  <div class="hero-body">
    <p class="title">Roadmaps</p>
  </div>
</section>

<div class="block">
  <a class="ml-6 button" href="{% url 'roadmap-create' %}">Create Roadmap</a>
</div>

<form method="GET" action="{% url 'explore' %}">
  <div class="ml-6 field has-addons">
    <div class="control">
      <input class="input" type="text" name="q" placeholder="Find a Roadmap" />
    </div>
    <div class="control">
      <button class="button is-info" type="submit">Search</button>
    </div>
  </div>
</form>

{% if roadmaps %}
<div class="block">
  <ul>
    {% for roadmap in roadmaps %}
    <li>
      <div class="box mx-4">
        <a href="{% url 'roadmap' roadmap.id %}">
          {{ roadmap.title }} -- {{ roadmap.description }}</a
        >
      </div>
    </li>

    {% endfor %}
  </ul>
</div>
{% else %}
<p>No roadmaps available</p>
{% endif %} {% endblock content %}
