{% extends 'base.html' %} {% block head %}
<style>
  .entity-btn {
    float: right;
  }
</style>
{% endblock head %} {% block content %}

<section class="hero">
  <div class="hero-body">
    <p class="title is-4">Roadmap Details</p>
    <p class="title">{{ roadmap }}</p>
    <p class="subtitle">Count: {{ roadmap.entity_set.all|length }}</p>
    <a
      class="button is-warning is-light"
      href="{% url 'roadmap-edit' roadmap.id %}"
      >Edit Roadmap Details</a
    >
    <a
      class="button is-danger is-light"
      href="{% url 'roadmap-delete' roadmap.id %}"
      >Delete Roadmap</a
    >
  </div>
</section>
<div class="block">
  <a class="ml-6 button is-primary is-light" href="{% url 'entity-create' %}"
    >Add Source</a
  >
</div>
{% if roadmap.entity_set.all|length > 0 %} {% for entity in roadmap.entity_set.all %}
<div class="mx-6 box">
  <a class="button is-link is-light" target="_blank" href="{{ entity.entity_url }}"
    >{{ entity.title }}</a
  >

  <a
    class="button is-danger is-light entity-btn"
    href="{% url 'entity-delete' entity.id %}"
    >Delete</a
  >
  <a
    class="button is-warning is-light entity-btn"
    href="{% url 'entity-edit' entity.id %}"
    >Edit</a
  >
</div>
{% endfor %} {% else %}
<div class="mx-6 notification is-info">Nothing to see here</div>
{% endif %} {% endblock content %}
